In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/sumber trafik.csv")

In [3]:
df.head()

,Sumber traffic,Pengunjung listingan toko,Akuisisi listingan toko,Rasio konversi listingan toko
0,Semua sumber traffic,13696,1195,"8,73"
1,Penelusuran Google Play,13455,1177,"8,75"
2,Penjelajahan Google Play,171,5,"2,92"
3,Referral pihak ketiga,70,13,"18,57"

In [8]:
df1= df.iloc[1:4]

In [9]:
df1.head()

,Sumber traffic,Pengunjung listingan toko,Akuisisi listingan toko,Rasio konversi listingan toko
1,Penelusuran Google Play,13455,1177,"8,75"
2,Penjelajahan Google Play,171,5,"2,92"
3,Referral pihak ketiga,70,13,"18,57"

In [10]:
df1.describe()

       Pengunjung listingan toko  Akuisisi listingan toko
count                   3.000000                 3.000000
mean                 4565.333333               398.333333
std                  7698.842792               674.356978
min                    70.000000                 5.000000
25%                   120.500000                 9.000000
50%                   171.000000                13.000000
75%                  6813.000000               595.000000
max                 13455.000000              1177.000000